.footer {
  overflow: hidden;
  background-color: #d35722;
  color: #fff;
  min-height: 248px;
}

.footer__content {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  padding: 60px 80px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.footer__logo{
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__circle{
  position: absolute;
  top: -128px;
  left: -44px;
  width: 340px;
  height: 340px;
  background-color: #e96e3a;
  border-radius: 50%;
  z-index: 0;
}

.footer__social{
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.footer__social-heading{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.footer__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-link{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: color 0.3s ease;
}

.footer__social-link:hover{
  color: #ffd6c5;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 108px;
}