.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.header__content {
}

.header__title {
  margin: 183px 0 0;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 729px;
}

.header__title span {
  display: block;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  color: #ff976b;
}

.header__description {
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: auto;
}

.header__info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.header__hours {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__info-text {
  margin: 0;
  color: #6f6f6f;
}