.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.nav__logo {
  position: relative;
  left: -30px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #ff976b;
}