.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
  }

  .nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.nav__logo {
  position: relative;
  left: -30px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #ff976b;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.header__content {
}

.header__title {
  margin: 183px 0 0;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 729px;
}

.header__title span {
  display: block;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  color: #ff976b;
}

.header__description {
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: auto;
}

.header__info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.header__hours {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__info-text {
  margin: 0;
  color: #6f6f6f;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #ffd6c5;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 auto 80px;
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.reservation__form{
  max-width: 385px;
  margin: 0 auto;
}

.reservation__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.reservation__label {
  display: block;
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.reservation__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.reservation__input::placeholder {
  color: #838383;
}

.reservation__button {
  background-color: #e96e3a;
  width: 100%;
  margin: 0 0 32px;
  padding: 20px 0;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.reservation__button:hover{
  opacity: 0.7;
}

.reservation__label_type_checkbox{
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.reservation__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #4f4f4f;
}

.footer {
  overflow: hidden;
  background-color: #d35722;
  color: #fff;
  min-height: 248px;
}

.footer__content {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  padding: 60px 80px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.footer__logo{
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__circle{
  position: absolute;
  top: -128px;
  left: -44px;
  width: 340px;
  height: 340px;
  background-color: #e96e3a;
  border-radius: 50%;
  z-index: 0;
}

.footer__social{
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.footer__social-heading{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.footer__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-link{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: color 0.3s ease;
}

.footer__social-link:hover{
  color: #ffd6c5;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 108px;
}