.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: url("./background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  position: relative;
  left: -30px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
}

.header-title {
  margin: 183px 0 0;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 729px;
}

.header-title span {
  display: block;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  color: #ff976b;
}

.header-description {
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 683px;
}

.header-image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: auto;
}

.header-info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.header-hours {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-text {
  margin: 0;
  color: #6f6f6f;
}
